@model IEnumerable<JamiesRecipes.Models.Recipe>

@{
    ViewData["Title"] = "Recipes";
}

<h1>Recipes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

@foreach (var item in Model) {
    <a asp-action="Details" asp-route-id="@item.Id">
        @Html.DisplayFor(modelItem => item.Title)
    </a>
    <p>
        (@Html.DisplayFor(modelItem => item.Dietary))
        @Html.DisplayFor(modelItem => item.Description)
    </p>
}
